//- 検索ダイアログ
div.modal.fade#find_dialog(tabindex='-1' role='dialog' aria-hidden='true')
  div.modal-dialog
    div.modal-content
      div.modal-header
        h4.modal-title
          span.glyphicon.glyphicon-search(aria-hidden="true")
            ファイルを検索
        div.modal-body
          div.form-inline
            label.control-label ファイル名
            input.form-control#file_names(type='text' placeholder='複数のファイル名を検索するには、カンマで名前を区切る')
          br
          div.form-group
            label.control-label タグ
            table
              tr
                td
                  検索するタグ
                  h3.left_tag_list
                td
                  使用可能なタグ
                  h3.right_tag_list

        div.modal-footer
          button.btn.btn-default(data-dismiss='modal') キャンセル
          button.btn.btn-primary#find_button(data-dismiss='modal') 検索

