//- 履歴ダイアログ
div.modal.fade#history_dialog(tabindex='-1' role='dialog' aria-hidden='true')
  div.modal-dialog
    div.modal-content
      div.modal-header
        h4.modal-title
          span.glyphicon.glyphicon-search(aria-hidden="true")
            コミット履歴
        div.commit_info_table
          table.table.table-striped
            thead
              tr
                td ファイル名
                td バージョン
                td コメント
                td ユーザー名
                td コミット時間
            tbody
        div.modal-footer
          button.btn.btn-info#diff_button 差分を確認
          button.btn.btn-default(data-dismiss='modal') クローズ
