extends layout

block stylesheet
  link(href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css', rel='stylesheet')

block scripts
  script(src='https://code.jquery.com/jquery-2.1.1.min.js')
  script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js')

block content
  div.conainer
    form.form-signin(action='login/login_auth' method='POST')
      h2.form-signin-heading Login to #{title}
        input.form-control#user_name_input(type='user_name' name='user_name' placeholder='User name' required autofocus)
        input.form-control#password_input(type='password' name='password' placeholder='Password' required)
        button.btn.btn-lg.btn-primary.btn-block#login_button(type='submit') Sign in
