extends layout

block stylesheet
  link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css')
  link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css')
  link(rel='stylesheet', href='/stylesheets/main_page.css')

block scripts
  script(src='https://code.jquery.com/jquery-2.1.1.min.js')
  script(src='https://code.jquery.com/ui/1.11.2/jquery-ui.min.js')
  script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js')
  script(src='javascripts/find.js')
  script(src='javascripts/tag.js')
  script(src='javascripts/commit.js')
  script(type='text/javascript').
    $(function() {
      $tagEditDialog = $('#tag_edit_dialog');
      var findSelecterIdInfos = {
        $historyDialog: $('#history_dialog'),
        $tagEditDialog: $tagEditDialog
      };

      gspecv.setupTag({
        tagCreateDialog: '#tag_create_dialog',
        tagCreateButton: '#tag_create_dialog #create_button',
        tagCreateNameInput: '#tag_create_dialog #tag_name',
        $tagEditDialog: $tagEditDialog,
        $applyTagButton: $tagEditDialog.find('#apply_button'),
        fileTagList: '#tag_edit_dialog #file_tag_list',
        stockTagList: '#tag_edit_dialog #stock_tag_list'
      });
      var find = gspecv.setupFind($('#file_list_table'), $('#find_dialog'), findSelecterIdInfos);
      gspecv.setupCommit($('#commit_box'), function() {
        // コミットを行ったら、ファイル一覧の表示を更新する
        find();
      });
    });

block content
  nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
    div.container
      div.navbar-header
        div.navbar-brand #{title}
      div.navbar-collapse.collapse#navbar
        ul.nav.navbar-nav.navbar-right
          li.dropdown
            a.dropdown-toggle(href='#' data-toggle='dropdown' role='button' aria-expanded='false') #{user_name}
              span.caret
            ul.dropdown-menu(role='menu')
              li
                a(href='/login/logout') Logout

  div.container
    button.btn.btn-primary(data-toggle='modal' data-target='#find_dialog')
      span.glyphicon.glyphicon-search(aria-hidden="true")
        検索
    table.table.table-striped#file_list_table(width='100%')

  div#commit_box
    div#file_names
    textarea.form-control#comment_text
    div.row
      button.btn.pull-right.btn-primary#commit_button(disabled) commit
      button.btn.pull-right#cancel_button(disabled) cancel

  div.modal.fade#find_dialog(tabindex='-1' role='dialog' aria-hidden='true')
    div.modal-dialog
      div.modal-content
        div.modal-header
          h4.modal-title
            span.glyphicon.glyphicon-search(aria-hidden="true")
              ファイルを検索
          div.modal-body
            div.form-group
              label.control-label ファイル名
              input.form-control#file_names(type='text')
          div.modal-footer
            button.btn.btn-default(data-dismiss='modal') キャンセル
            button.btn.btn-primary#find_button(data-dismiss='modal') 検索

  div.modal.fade#history_dialog(tabindex='-1' role='dialog' aria-hidden='true')
    div.modal-dialog
      div.modal-content
        div.modal-header
          h4.modal-title
            span.glyphicon.glyphicon-search(aria-hidden="true")
              コミット履歴
          div
          div.modal-footer
            button.btn.btn-default(data-dismiss='modal') クローズ

  div.modal.fade#tag_edit_dialog(tabindex='-1' role='dialog' aria-hidden='true')
    div.modal-dialog
      div.modal-content
        div.modal-header
          h4.modal-title
            span.glyphicon.glyphicon-search(aria-hidden="true")
              タグを編集
          table
            tr
              td
                ファイルのタグ
                h3#file_tag_list
              td
                使用可能なタグ
                h3#stock_tag_list
                  button.btn.btn-primary#create_tag_button(data-toggle='modal' data-target='#tag_create_dialog')
                    span.glyphicon.glyphicon-plus-sign(aria-hidden="true") 新しいタグを作成
          div.modal-footer
            button.btn.btn-default(data-dismiss='modal') キャンセル
            button.btn.btn-primary#apply_button 決定

  div.modal.fade#tag_create_dialog(tabindex='-1' role='dialog' aria-hidden='true')
    div.modal-dialog
      div.modal-content
        div.modal-header
          h4.modal-title
            span.glyphicon.glyphicon-search(aria-hidden="true")
              新しいタグを作成
          div.modal-body.row
            div.form-group
              label.control-label タグ名
              input.form-control#tag_name(type='text')
          div.modal-footer
            button.btn.btn-default(data-dismiss='modal') キャンセル
            button.btn.btn-primary#create_button(data-dismiss='modal') 作成
