extends layout

block stylesheet
  link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css')
  link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css')
  link(rel='stylesheet', href='/stylesheets/main_page.css')

block scripts
  script(src='https://code.jquery.com/jquery-2.1.1.min.js')
  script(src='https://code.jquery.com/ui/1.11.2/jquery-ui.min.js')
  script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js')
  script(src='javascripts/common/constant.js')
  script(src='javascripts/util.js')
  script(src='javascripts/find.js')
  script(src='javascripts/commit_info.js')
  script(src='javascripts/tag.js')
  script(src='javascripts/history.js')
  script(src='javascripts/commit.js')
  script(src='javascripts/user_view.js')
  script(type='text/javascript').
    $(function() {
      var $findDialog = $('#find_dialog');
      var $tagEditDialog = $('#tag_edit_dialog');
      var $userViewDialog = $('#user_view_dialog');
      var $historyDialog = $('#history_dialog');
      var $inclusionAllTagList = $('#inclusion_all_tag_list');
      var $inclusionAnyTagList = $('#inclusion_any_tag_list');
      var $exclusionTagList = $('#exclusion_tag_list');

      gspecv.find.setup({
        $findDialog: $findDialog,
        $fileNamesText: $('#find_dialog #file_names'),
        $inclusionAllTagList: $inclusionAllTagList,
        $inclusionAnyTagList: $inclusionAnyTagList,
        $exclusionTagList: $exclusionTagList,
        $livingTagList: $('.living_tag_list')
      });

      gspecv.commitInfo.setup({
        $findButton: $('#find_button'),
        $closeTabButton: $('#close_tab_button'),
        $commitInfoTabPanel: $('#commit_info_tabs .nav-tabs'),
        $commitInfoTBody: $('#commit_info tbody'),
        $findDialog: $findDialog,
        $tagEditDialog: $tagEditDialog,
        $userViewDialog: $userViewDialog,
        $historyDialog: $historyDialog,
        $inclusionAllTagList: $inclusionAllTagList,
        $inclusionAnyTagList: $inclusionAnyTagList,
        $exclusionTagList: $exclusionTagList,
      }, '#{user_name}');

      gspecv.tag.setup({
        tagCreateDialog: '#tag_create_dialog',
        $tagCreateButton: $('#tag_create_dialog #create_button'),
        tagCreateNameInput: '#tag_create_dialog #tag_name',
        $tagEditDialog: $tagEditDialog,
        $applyTagButton: $tagEditDialog.find('#apply_button'),
        $fileTagList: $('#tag_edit_dialog .left_tag_list'),
        $stockTagList: $('#tag_edit_dialog .right_tag_list')
      });

      gspecv.history.setup({
        $dialog: $historyDialog,
        $infoTable: $('#history_dialog tbody'),
        $diffButton: $('#history_dialog #diff_button'),
        $diffDialog: $('#diff_dialog')
      });

      gspecv.commit.setup({
        $commitBox: $('#commit_box'),
        $uploadingDialog: $('#uploadingDialog')
      });

      gspecv.userView.setup({
        $dialog: $userViewDialog
      });
    });

block content
  nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
    div.container
      div.navbar-header
        div.navbar-brand #{title}
      div.navbar-collapse.collapse#navbar
        ul.nav.navbar-nav.navbar-right
          li.dropdown
            a.dropdown-toggle(href='#' data-toggle='dropdown' role='button' aria-expanded='false') #{user_name}
              span.caret
            ul.dropdown-menu(role='menu')
              li
                a(href='/login/logout') Logout

  div#commit_info_tabs(role="tabpanel")
    ul.nav.nav-tabs(role="tablist")

  div.container#commit_info
    div.row
      div.col-xs-1
        button.btn.btn-primary#find_button(data-toggle='modal')
          span.glyphicon.glyphicon-search(aria-hidden="true")
            検索
      div.col-xs-10
      div.col-xs-1
        button.btn#close_tab_button
          span.glyphicon.glyphicon-remove
            タブを閉じる
    div.commit_info_table
      table.table.table-striped
        thead
          tr
            td
            td
              div.glyphicon.glyphicon-eye-open
            td
              div.glyphicon.glyphicon-edit
            td ファイル名
            td タグ
            td バージョン
            td コメント
            td ユーザー名
            td コミット時間
        tbody

  div#commit_box
    div#file_names
    textarea.form-control#comment_text
    div.row
      button.btn.pull-right.btn-primary#commit_button(disabled) コミット
      button.btn.pull-right#cancel_button(disabled) キャンセル

  include ./find_dialog.jade
  include ./tag_edit_dialog.jade
  include ./user_view_dialog.jade
  include ./history_dialog.jade
  include ./diff_dialog.jade
  include ./loading.jade
