extends layout

block stylesheet
  link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css", rel="stylesheet")
  link(rel='stylesheet', href='/stylesheets/main_page.css')

block scripts
  script(src='https://code.jquery.com/jquery-2.1.1.min.js')
  script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js")
  script(src='javascripts/find.js')
  script(src='javascripts/commit.js')
  script(type='text/javascript').
    $(function() {
      var find = gspecv.setupFind($('#file_list_table'));
      gspecv.setupCommit($('#commit_box'), function() {
        // コミットを行ったら、ファイル一覧の表示を更新する
        find();
      });
    });

block content
  nav.navbar.navbar-default.navbar-fixed-top(role="navigation")
    div.container
      div.navbar-header
        div.navbar-brand #{title}
      div.navbar-collapse.collapse#navbar
        ul.nav.navbar-nav.navbar-right
          li.dropdown
            a.dropdown-toggle(href="#" data-toggle="dropdown" role="button" aria-expanded="false") #{user_name}
              span.caret
            ul.dropdown-menu(role="menu")
              li
                a(href="/login/logout") Logout

  div.container
    table.table.table-striped#file_list_table(width='100%')

  div#commit_box
    div#file_names
    textarea.form-control#comment_text
    div
      input#commit_button_cancel(type='button' value='cancel' disabled)
      input#commit_button_commit(type='button' value='commit' disabled)
