.hint_text {
  color: lightgray;
}

#commit_box {
  position: absolute;
  bottom: 0px;
  border: solid;
  width: 90%;
}

#commit_box .row {
  margin-right: 0px;
}

#file_names {
  height: 160px;
}

#comment_text {
  height: 80px;
}

#commit_comment {
  border: solid;
  width: 100%;
  height: 100px;
  margin-left: 6px;
  margin-right: 6px;
}

#find_dialog #file_names {
  height: 30px;
  width: 86%
}

.left_tag_list {
  position: relative;
  border: 1px solid #aaaaaa;
  width: 280px;
}

.right_tag_list {
  position: relative;
  border: 1px solid #aaaaaa;
  width: 280px;
}

.find_tag_list {
  height: 60px;
}

.living_tag_list {
  height: 220px;
}

.tag_edit_list {
  height: 200px;
}

#create_tag_button {
  position: absolute;
  bottom: 0px;
}
