.hint_text {
  color: lightgray;
}

#commit_box {
  border: solid;
  width: 100%;
}

#file_names {
  height: 160px;
}

#comment_text {
  height: 80px;
}

#commit_comment {
  border: solid;
  width: 100%;
  height: 100px;
  margin-left: 6px;
  margin-right: 6px;
}
